@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@responsive {
    .text-shadow {
        text-shadow: 0 1px 0 rgba(0,0,0,0.80);
    }
}

.input-custom {
    @apply px-2 rounded-lg text-gray-600 w-full
}

.dots {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
